In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("Olympics.csv")

In [14]:
athlete_medals = df[['name', 'medal']].dropna()
print(athlete_medals)

                         name   medal
3        Edgar Lindenau Aabye    Gold
37       Arvo Ossian Aaltonen  Bronze
38       Arvo Ossian Aaltonen  Bronze
40   Juhamatti Tapio Aaltonen  Bronze
41    Paavo Johannes Aaltonen  Bronze
42    Paavo Johannes Aaltonen    Gold
44    Paavo Johannes Aaltonen    Gold
48    Paavo Johannes Aaltonen    Gold
50    Paavo Johannes Aaltonen  Bronze
60         Kjetil Andr Aamodt    Gold
61         Kjetil Andr Aamodt  Bronze
63         Kjetil Andr Aamodt  Silver
64         Kjetil Andr Aamodt  Bronze
67         Kjetil Andr Aamodt  Silver
73         Kjetil Andr Aamodt    Gold
76         Kjetil Andr Aamodt    Gold
78         Kjetil Andr Aamodt    Gold
79  Ragnhild Margrethe Aamodt    Gold
86           Alf Lied Aanning  Silver
91       Willemien Aardenburg  Bronze
92           Pepijn Aardewijn  Silver

In [4]:
df

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal
0,1,A Dijiang,M,24,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,32,Olav Augunson Aarnes,M,23,NaN,NaN,Norway,NOR,1912 Summer,1912,Summer,Stockholm,Athletics,Athletics Men's High Jump,NaN
96,33,Mika Lauri Aarnikka,M,24,187.0,76.0,Finland,FIN,1992 Summer,1992,Summer,Barcelona,Sailing,Sailing Men's Two Person Dinghy,NaN
97,33,Mika Lauri Aarnikka,M,28,187.0,76.0,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Men's Two Person Dinghy,NaN
98,34,Jamale (Djamel-) Aarrass (Ahrass-),M,30,187.0,76.0,France,FRA,2012 Summer,2012,Summer,London,Athletics,"""Athletics Men's 1,500 metres""",NaN
99,35,Dagfinn Sverre Aarskog,M,24,190.0,98.0,Norway,NOR,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN

In [15]:
total_athletes = df['name'].nunique()
print(total_athletes)

35

In [16]:
gold_medal_athletes = df[df['medal'] == 'Gold']
print(gold_medal_athletes)

    id                       name sex  age  height  weight            team  \
3    4       Edgar Lindenau Aabye   M   34     NaN     NaN  Denmark/Sweden
42  17    Paavo Johannes Aaltonen   M   28   175.0    64.0         Finland
44  17    Paavo Johannes Aaltonen   M   28   175.0    64.0         Finland
48  17    Paavo Johannes Aaltonen   M   28   175.0    64.0         Finland
60  20         Kjetil Andr Aamodt   M   20   176.0    85.0          Norway
73  20         Kjetil Andr Aamodt   M   30   176.0    85.0          Norway
76  20         Kjetil Andr Aamodt   M   30   176.0    85.0          Norway
78  20         Kjetil Andr Aamodt   M   34   176.0    85.0          Norway
79  21  Ragnhild Margrethe Aamodt   F   27   163.0     NaN          Norway

    noc        games  year  season            city          sport  \
3   DEN  1900 Summer  1900  Summer           Paris     Tug-Of-War
42  FIN  1948 Summer  1948  Summer          London     Gymnastics
44  FIN  1948 Summer  1948  Summer          London     Gymnastics
48  FIN  1948 Summer  1948  Summer          London     Gymnastics
60  NOR  1992 Winter  1992  Winter     Albertville  Alpine Skiing
73  NOR  2002 Winter  2002  Winter  Salt Lake City  Alpine Skiing
76  NOR  2002 Winter  2002  Winter  Salt Lake City  Alpine Skiing
78  NOR  2006 Winter  2006  Winter          Torino  Alpine Skiing
79  NOR  2008 Summer  2008  Summer         Beijing       Handball

                               event medal
3        Tug-Of-War Men's Tug-Of-War  Gold
42  Gymnastics Men's Team All-Around  Gold
44      Gymnastics Men's Horse Vault  Gold
48  Gymnastics Men's Pommelled Horse  Gold
60       Alpine Skiing Men's Super G  Gold
73       Alpine Skiing Men's Super G  Gold
76      Alpine Skiing Men's Combined  Gold
78       Alpine Skiing Men's Super G  Gold
79         Handball Women's Handball  Gold

In [17]:
silver_medal_athletes = df[df['medal'] == 'Silver']
silver_medal_athletes_sorted = silver_medal_athletes.sort_values(by='year')

print(silver_medal_athletes_sorted[['name', 'medal', 'year']])

                  name   medal  year
86    Alf Lied Aanning  Silver  1920
63  Kjetil Andr Aamodt  Silver  1994
67  Kjetil Andr Aamodt  Silver  1994
92    Pepijn Aardewijn  Silver  1996

In [21]:
medal_counts = df.groupby(['team', 'medal']).size().reset_index(name='Count')

medal_counts_pivot = medal_counts.pivot_table(index='team', columns='medal', values='Count', fill_value=0)

print(medal_counts_pivot)

medal           Bronze  Gold  Silver
team
Denmark/Sweden       0     1       0
Finland              5     3       0
Netherlands          1     0       1
Norway               2     5       3

In [22]:
gold_counts = df[df['medal'] == 'Gold'].groupby('team').size().reset_index(name='GoldCount')

countries_with_50plus_gold = gold_counts[gold_counts['GoldCount'] > 50]

print(countries_with_50plus_gold)

Empty DataFrame
Columns: [team, GoldCount]
Index: []

In [23]:
athlete_medal_counts = df.groupby('name')['medal'].count().reset_index(name='TotalMedals')
most_medals_athlete = athlete_medal_counts.loc[athlete_medal_counts['TotalMedals'].idxmax()]
print(most_medals_athlete)

name           Kjetil Andr Aamodt
TotalMedals                     8
Name: 22, dtype: object

In [25]:
freestyle_events = df[df['event'].str.contains('Freestyle')]

print(freestyle_events[['event']])

                                  event
29  Swimming Men's 400 metres Freestyle

In [33]:
athlete_sport_medal_counts = df.groupby(['sport', 'name'])['medal'].count().reset_index(name='TotalMedals')

athlete_sport_medal_counts_sorted = athlete_sport_medal_counts.sort_values(by=['sport', 'TotalMedals'], ascending=[True,False])
top_3_athletes_by_sport = athlete_sport_medal_counts_sorted.groupby('sport').head(3)

print(top_3_athletes_by_sport[['sport', 'name', 'TotalMedals']])

                   sport                                  name  TotalMedals
0          Alpine Skiing                    Kjetil Andr Aamodt            8
1       Art Competitions                 Win Valdemar Aaltonen            0
2              Athletics  Cornelia \Cor\" Aalten (-Strannood)"            0
3              Athletics                     Evald rma (rman-)            0
4              Athletics    Jamale (Djamel-) Aarrass (Ahrass-)            0
7              Badminton                     Jyri Tapani Aalto            0
8             Basketball                             A Dijiang            0
9               Biathlon        Pirjo Hannele Aalto (Mattila-)            0
10             Bobsleigh                Dagfinn Sverre Aarskog            0
11  Cross Country Skiing                          John Aalberg            0
12  Cross Country Skiing                    Jorma Ilmari Aalto            0
13  Cross Country Skiing                       Per Knut Aaland            0
14              Football                   Gunnar Nielsen Aaby            0
15            Gymnastics                      Alf Lied Aanning            1
16            Gymnastics               Paavo Johannes Aaltonen            5
17              Handball             Ragnhild Margrethe Aamodt            1
18                Hockey                  Willemien Aardenburg            1
19            Ice Hockey                      Antti Sami Aalto            0
20            Ice Hockey              Juhamatti Tapio Aaltonen            1
21                  Judo                              A Lamusi            0
22                  Luge          Agnes Erika Aanonsen (-Eyde)            0
23                Rowing                      Pepijn Aardewijn            1
24               Sailing                      Jan-Erik Aarberg            0
25               Sailing                   Mika Lauri Aarnikka            0
26               Sailing                    Minna Maarit Aalto            0
27         Speed Skating              Christine Jacoba Aaftink            0
28         Speed Skating                      Nils Egil Aaness            0
30              Swimming      Einar Ferdinand \Einari\" Aalto"            0
29              Swimming                  Arvo Ossian Aaltonen            2
31            Tug-Of-War                  Edgar Lindenau Aabye            1
32            Water Polo                         Johan Aantjes            0
33         Weightlifting                         Andreea Aanei            0
34             Wrestling                           Fritz Aanes            0

In [35]:
athletes_multiple_medals = df.groupby(['name', 'year']).filter(lambda x: len(x) > 1).dropna()

print(athletes_multiple_medals[['name', 'year', 'medal']])

                       name  year   medal
41  Paavo Johannes Aaltonen  1948  Bronze
42  Paavo Johannes Aaltonen  1948    Gold
44  Paavo Johannes Aaltonen  1948    Gold
48  Paavo Johannes Aaltonen  1948    Gold
50  Paavo Johannes Aaltonen  1952  Bronze
60       Kjetil Andr Aamodt  1992    Gold
61       Kjetil Andr Aamodt  1992  Bronze
63       Kjetil Andr Aamodt  1994  Silver
64       Kjetil Andr Aamodt  1994  Bronze
67       Kjetil Andr Aamodt  1994  Silver
73       Kjetil Andr Aamodt  2002    Gold
76       Kjetil Andr Aamodt  2002    Gold
78       Kjetil Andr Aamodt  2006    Gold

In [36]:
gold_medals = df[df['medal'] == 'Gold']

gold_medals_pivot = gold_medals.pivot_table(index='team', columns='season', values='medal', aggfunc='count', fill_value=0)

countries_both_seasons = gold_medals_pivot[(gold_medals_pivot['Summer'] > 0) & (gold_medals_pivot['Winter'] > 0)].index.tolist()

print(countries_both_seasons)

['Norway']

In [37]:
countries_with_medals = df.dropna(subset=['medal'])

medals_per_athlete = countries_with_medals.groupby(['team', 'name']).size().reset_index(name='MedalCount')

avg_medals_per_athlete = medals_per_athlete.groupby('team')['MedalCount'].mean().reset_index(name='AvgMedalsPerAthlete')

print(avg_medals_per_athlete)

             team  AvgMedalsPerAthlete
0  Denmark/Sweden             1.000000
1         Finland             2.666667
2     Netherlands             1.000000
3          Norway             3.333333

In [39]:
countries_with_medals = df.dropna(subset=['medal'])

sports_per_country = countries_with_medals.groupby('team')['sport'].nunique().reset_index(name='NumSportsWithMedals')

countries_more_than_10_sports = sports_per_country[sports_per_country['NumSportsWithMedals'] > 10]

print(countries_more_than_10_sports[['team', 'NumSportsWithMedals']])

Empty DataFrame
Columns: [team, NumSportsWithMedals]
Index: []